<configSections>
  <section name="Restify"
           type="JanHafner.Restify.Services.OAuth2.Configuration.RestifyConfigurationSection, JanHafner.Restify.Services.OAuth2.Configuration" />
</configSections>
<Restify>
  <AuthorizationContextConfigurations>
    <AuthorizationContext name="Default" baseUrl="https://www.googleapis.com" apiKey="AIzaSyD_7G0n0FHHDZWEF7CcePgE3GLOBiZzhf4">
      <OAuth2 authorizationEndPoint="https://accounts.google.com/o/oauth2/auth"
          tokenEndPoint="https://accounts.google.com/o/oauth2/token"
          revocationEndPoint="https://accounts.google.com/o/oauth2/revoke?token={0}"
          clientId="146939754490-n64ks1bpa51d89sdb68i1u0ii0ftqve9.apps.googleusercontent.com"
          clientSecret="notasecret">
        <X509Certificate filePath=".\GooKit-ServiceAccount-privatekey.p12" content="" />
        <Scopes>
          <Scope grant="true" scope="https://www.googleapis.com/auth/plus.me" />
          <Scope grant="true" scope="https://www.googleapis.com/auth/plus.login" />
        </Scopes>
      </OAuth2>
      <FileSystemAccessTokenStore filePath=".\authorization.bin" />
    </AuthorizationContext>
  </AuthorizationContextConfigurations>
</Restify>